.grid-container {
    display: grid;
    grid-template-columns: 0.5fr 1fr 1fr;
    grid-template-rows: 0.2fr 1fr;
    height: 98vh;
    grid-template-areas: "title title title" "sidebar tsnezone images";
}

.sidebar { grid-area: sidebar;
           background-color: #3f9978
}

.graph-panel { grid-area: tsnezone;
            background-color: #778899
}

.title { grid-area: title;
         background-color: #995152;
         #height: 20vh}

.image-panel { grid-area: images;
               background-color: #525899;
                overflow: scroll;
                max-height: 100vh;}