.grid-container {
    display: grid;
    grid-template-columns: 0.52fr 0.6fr 0.6fr;
    grid-template-rows: 0.2fr 1fr;
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    grid-template-areas: "title title title" "sidebar tsnezone images";
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 200;
    color: #303030;
    background-color: #F6F6F6;
}

.title {
    color: white;
    grid-area: title;
    height: 40%;
    background-color: #5673FA;
    padding-left: 30px;
    padding-top: 10px;
}

.sidebar {
    grid-area: sidebar;
    width: 80%;
    height: 84%;
    background-color: #FFFFFF;
    justify-self: center;
}

.graph-panel {
    grid-area: tsnezone;
    height: 87%;
    width: 100%;
    justify-self: center;
    background-color: #ecf2ff;
    #opacity: 20%;
    filter: drop-shadow(0 0 0.3rem gray);
}

#_dash-app-content::-webkit-scrollbar-thumb {
    width: 2px;
    border-radius: 15px;
    padding-right: 5px;
    background-color: #5673FA;
}

.image-panel {
    padding: 10px;
    height: 87%;
    width: 80%;
    align-self: auto;
    justify-self: center;
    grid-area: images;
    background-color: #FFFFFF;
    overflow: scroll;
    filter: drop-shadow(0 0 0.3rem gray);
    text-align: center;
}

#data-dropdown {
    padding-bottom: 20px;
}

#uploaded-data {
    text-align: center;
}

.app-controls-block {
    display: block;
    margin-top: 20px;
    margin-bottom: 10px;
}

#_dash-app-content .control-upload {
    display: block;
    border: dotted 1px #119dff; /* Change in individual app stylesheet */
    border-radius: 5px;
    padding: 30px;
    font-size: 9pt;
    text-align: center;
    #width: 100%;
}

/*.control-upload {*/
/*    width: 100%;*/
/*    display: block;*/
/*    border: 1px dotted #5673FA;*/
/*    border-radius: 5px;*/
/*    padding: 30px;*/
/*    font-size: 9.5pt;*/
/*}*/

/* Base Styles
–––––––––––––––––––––––––––––––––––––––––––––––––– */
html {
  font-size: 62.5%;}


body {
    margin: 0;
    padding: 0;
    font-size: 1.5em;
    line-height: 1.6;
    font-weight: 400;
    #font-family: Arial, Helvetica, sans-serif;
  }

#cluster-control-tab .tab{
    font-weight: 200;
    font-size: 11pt;
    height: 50px;
    #padding: 20px;
    background-color: #ffffff;
    #border: solid 1px #d3d3d3;
}

#cluster-control-tab .tab--selected {
    color: #5673FA
}

#cluster-control-tab .tab-content {
    padding: 40px;
    background-color: #FFFFFF;
}


/* Typography
–––––––––––––––––––––––––––––––––––––––––––––––––– */


p {
    margin-top: 0;
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 300;
}

h2 {
    padding-left: 50px;
    margin-bottom: 1.8rem;
    margin-top: 1.8rem;
    font-size: 22pt;
    line-height: 1.25;
    #font-family: Arial, Helvetica, sans-serif;
    font-weight: 200 !important;
    letter-spacing: 1px;
    #position: absolute;
    top: -5px;
    display: inline-block;
}

h4.what-is {
    font-weight: 400;
    font-size: 20pt;
    margin-bottom: 30px;
    text-align: center;
}